{% extends 'base-page.html' %}
{% load static %}

{% block title %}
    Home page
{% endblock title %}

{% block container %}

		<main class="content">

			<section class="article">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris orci ligula, pharetra id massa quis, efficitur molestie augue. Mauris nec aliquam neque. Aliquam in eleifend nulla. Ut et enim sed velit semper euismod. Ut ut tortor id sem venenatis elementum a at ex. Aliquam erat volutpat. Nam viverra sem ut semper pulvinar. Integer quis arcu mauris. Nulla quis scelerisque est.
				</p>

				<p>
					Maecenas consequat enim eu lacus commodo iaculis. Duis sit amet ante vehicula, suscipit mauris at, ultrices libero. Quisque at orci sit amet mi tempor facilisis at et sem. Quisque augue eros, mattis et ipsum sed, sodales consectetur mauris. Phasellus id venenatis turpis. Nulla eu lorem pellentesque, aliquam orci vel, convallis velit. Sed ut sodales arcu, a sagittis lectus. Proin auctor ante quis est posuere luctus. Nunc vel elit magna. Ut euismod ligula venenatis ipsum ultrices, in molestie leo iaculis. Aliquam interdum, urna sit amet sollicitudin ullamcorper, erat ex mollis est, a sollicitudin magna odio a dui.
				</p>

				<p>
					Mauris a iaculis turpis, ut consectetur arcu. Quisque eget tempor leo, nec accumsan sem. Phasellus at metus in turpis porttitor commodo. Vestibulum hendrerit mauris ut tortor semper, sed efficitur lacus varius. Proin est dolor, finibus id felis et, imperdiet consequat neque. In hac habitasse platea dictumst. Nunc sit amet sem nec lorem porttitor maximus. Nulla pharetra dolor enim, ut sodales arcu accumsan a. Vivamus viverra lobortis commodo. Vivamus ut volutpat elit, sed convallis lectus. Aliquam erat volutpat. Curabitur in vestibulum ligula.
				</p>

				<p>
					Curabitur vehicula nec sem ut commodo. Aliquam a aliquet lacus. Duis non est dictum, laoreet augue sed, gravida massa. Sed elit ligula, posuere nec nibh ut, egestas sollicitudin sapien. Mauris nec porta lorem. Cras in mi commodo, dignissim mi ac, fermentum elit. Sed vel blandit lorem. Nam quis urna in sem gravida porta. Cras ullamcorper tempor tortor, non eleifend velit laoreet quis. Suspendisse id lacus diam. Nam luctus nunc nec purus faucibus imperdiet. Sed finibus justo vitae fermentum convallis. Donec in convallis nibh, vel lobortis nibh.
				</p>

				<p>
					Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla facilisi. Morbi vel libero sed ligula pharetra mollis. Nulla sagittis eros metus, ut pharetra erat sollicitudin ac. Pellentesque consequat non ex nec accumsan. Integer venenatis hendrerit nisl at aliquet. Donec porttitor augue at elit ornare eleifend at eget massa. Curabitur rutrum facilisis quam. Sed sed dolor sollicitudin, ultricies nisl in, sollicitudin nibh. Nam porta nisl quis felis sodales, vel efficitur ipsum lacinia. Fusce convallis lorem lectus, sit amet fermentum ipsum pharetra et. Aliquam imperdiet varius odio, id faucibus tortor ultrices at. Nam fermentum, leo ac vestibulum pretium, nibh lacus gravida orci, laoreet sollicitudin risus nulla vitae quam. Nam auctor molestie velit, in fermentum sem vulputate ut.
				</p>
			</section>

		</main>

{% endblock container %}